
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SuperWorks</a>
     
      <button routerLink="/cart" class="btn btn-dark">Cart <span class="badge rounded-pill bg-warning text-dark">{{badge}}</span></button>
    </div>
  </nav>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/carousal.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-block d-md-block">
          <h1>SuperWorks</h1>
          <button type="button" class="btn btn-lg btn-outline-danger">Sale !!</button>
        </div>
      </div>
    </div>
  </div>