
  <div class="container"  >
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let product of products">
        <div class="card" style="width: 18rem; height: 350px;">
            <img style="height: 60%;" src="{{product.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <div class="row">
              <h5 class="card-text col-lg-6">{{product.name}}</h5>
              <p class="card-text col-lg-6">$ {{product.price}}</p>
              </div>
             
            </div>
            <div class="card-footer" >
              <button *ngIf="product.toggle == false" (click)="addToCart(product)" class="btn btn-block btn-warning">Add To Cart</button>
              <button  *ngIf="product.toggle == true"  (click)="addToCart(product)" class="btn btn-block btn-warning">Added To Cart</button>
            </div>
          </div>
      </div>

    </div>
  </div>
